__pycache__
.venv
api-info.txt
myenv
.env
backend/__pycache__
backend/.env
embeddings/__pycache__
embeddings/.env
embeddings/businessData
frontend-login/.env.example
frontend-login/.env.local
frontend-login/dist
frontend-login/node_modules
frontend-login/*.tsbuildinfo
frontend-login/vite.config.d.ts
frontend-login/vite.config.js
